<html>

<head>
    <title>Randouyin</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/search-area.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/search-results.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/cards.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/video_card.css') }}" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="logo">Randouyin</div>
        <div class="side-btns">
            <button>Help</button>
            <button>Settings</button>
        </div>
    </div>
    <div class="search-area">
        <div class="search-container">
            <label for="search-input">Search Douyin</label>
            <input placeholder="Type something" id="search-input" />
            <span>Auto translation is not introduced yet</span>
        </div>
        <div class="search-btns">
            <button>search</button>
            <button>filters</button>
        </div>
    </div>
    <div class="search-results">
        <div class="search-results-heading">
            <div class="search-query-label">
                <span>Results for: "children crying"</span>
                <span class="search-label">
                    Showing 24 videos
                </span>
            </div>
            <div class="search-results-display-options">
                <span class="sorting">
                    Sort by:
                    <button>Likes</button>
                </span>
            </div>
        </div>
        <div class="cards">
            <div class="card_container">
                <div class="video_card">
                    <div class="card-upper-container">
                        <img src="https://p3-pc-sign.douyinpic.com/image-cut-tos-priv/d5993cbfb6b52ab3bfe0da07b8f7094f~tplv-dy-resize-origshort-autoq-75:330.jpeg?biz_tag=pcweb_cover&card_type=153&column_n=0&from=327834062&lk3s=138a59ce&s=PackSourceEnum_SEARCH&sc=cover&se=false&x-expires=2062594800&x-signature=3VNLJNh6S8ScTetyFw2vKd7tReQ%3D"
                            alt="video_cover" />
                    </div>
                    <div class="card-bottom-container">
                        <span class="video_title">title</span>
                        <div class="video_info_row">
                            <span class="video_likes">Likes: 150</span>
                            <span class="video_date">Date: 1 day ago</span>
                        </div>
                        <div class="video_author">
                            <span>@video_author</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="footer">footer area</footer>
</body>

</html>
